@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: linear-gradient(135deg, #e3d4bef7, #eae7e3);
  font-family: Arial, Helvetica, sans-serif;
}
